<h3>Make New Board</h3>

<form class='form-board'>
<label class='form-board'> Enter Title
	<input type='text' name='board[title]'>

</label> <br>

<button type='submit' class='submit' class='form-board'> Submit </button>

</form>